@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000; /* Always black */
  --foreground: #ededed; /* Light gray/white text */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
/* For WebKit-based browsers */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000000; /* dark background */
}

::-webkit-scrollbar-thumb {
  background: #fffdfd; /* brand color or any vibrant accent */
  border-radius: 10px;
  border: 2px solid #3d3c3c;
}

::-webkit-scrollbar-thumb:hover {
  background: #000000;
}
